<section fxLayout="column wrap">
  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Training">
      <mat-card class="my-card">
        <mat-card-content fxFlex fxLayout="column" fxLayoutAlign="end center">
          <!-- PUT YOUR LIST CAODE HERE -->
          <table class="table table-striped">
            <thead class="thead-light">
              <tr>
                <th scope="row">Sr.No</th>
                <th scope="col ml-3">Information</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Topic Name</td>
                <td>{{perticularTraining.topicName | uppercase}}</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Trainer Name</td>
                <td>{{perticularTraining.trainerName | uppercase}}</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Summary</td>
                <td>{{perticularTraining.summary | uppercase}}</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Start Time</td>
                <td>{{perticularTraining.startTime}}</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td> End Time</td>
                <td>{{perticularTraining.endTime}}</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Room Name</td>
                <td>{{perticularTraining.roomName | uppercase}}</td>
              </tr>
              <tr>
            </tbody>
          </table>
          <mat-card-actions>
            <button class="ml-3" mat-raised-button (click)="onRegisterButtonClicked()" color="primary">Register</button>
            <button mat-raised-button (click)="onBackButtonClicked()" color="accent">Back</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</section>