<application-layout>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <application-sidenav-list (sidenavClose)="sidenav.close()"></application-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <application-header (sidenavToggle)="sidenav.toggle()"></application-header>
      <section fxLayout="column wrap">
        <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
          <mat-tab label="Trainings">
            <mat-toolbar>
              <span> Upcoming Trainings </span>
              <div fxFlex fxLayout="row" fxLayoutAlign="end center">
                <mat-card-actions>
                  <button mat-raised-button (click)="onNewButtonClicked()" class="ml-5 mt-3" color="primary">New
                    Training</button>
                </mat-card-actions>
              </div>
            </mat-toolbar>
            <mat-card class="my-card">
              <mat-card-content fxFlex fxLayout="row" fxLayoutAlign="end center">
                <table class="table table-striped">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Topic Name</th>
                      <th scope="col">Trainer Name</th>
                      <th scope="col">Summary</th>
                      <th scope="col">Start Time</th>
                      <th scope="col">End Time</th>
                      <th scope="col">Room Name</th>
                      <th scope="col">Buttons</th>
                  </thead>
                  <ng-container *ngFor="let training of trainingsArray">
                    <tbody>
                      <tr>
                        <td>{{training.topicName | uppercase}}</td>
                        <td>{{training.trainerName | uppercase}}</td>
                        <td>{{training.summary | uppercase}}</td>
                        <td>{{training.startTime}}</td>
                        <td>{{training.endTime | uppercase}}</td>
                        <td>{{training.roomName | uppercase}}</td>
                        <td>
                          <mat-card-actions>
                            <button style="margin-left:10px;" mat-raised-button (click)="onRegisterButtonClicked()"
                              color="primary">RSVP</button>
                            <button mat-raised-button (click)="onEditButtonClicked(training)" color="primary">EDIT</button>
                            <button mat-raised-button (click)="onDetailsButtonClicked(training)" color="Basic">DETAILS</button>
                            <button style="margin-top:5px;" mat-raised-button (click)="onDeleteButtonClicked(training.$key)"
                              color="warn">Delete</button>
                          </mat-card-actions>
                        </td>
                      </tr>
                    </tbody>
                  </ng-container>
                </table>
              </mat-card-content>
            </mat-card>
          </mat-tab>
        </mat-tab-group>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>
</application-layout>