<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">Home</a>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items ml-5">
            <li>
                <a [routerLink]="['/owner/owners']">Training</a>
            </li>
        </ul>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end center" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items ml-5">
            <li>
                <a [routerLink]="['/meeting/meetings']">Meeting</a>
            </li>
        </ul>
    </div>
</mat-toolbar>