<section fxLayout="column wrap">
  <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Meeting">
      <mat-card class="my-card">
        <mat-card-content fxFlex fxLayout="column" fxLayoutAlign="end center">
          <table class="table table-striped">
            <thead class="thead-light">
              <tr>
                <th scope="row">Sr.No</th>
                <th scope="col ml-3">Information</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Meeting Name</td>
                <td>{{perticularMeeting.meetingName | uppercase}}</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Organiser Name</td>
                <td>{{perticularMeeting.organiserName | uppercase}}</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Attendee list</td>
                <td>{{perticularMeeting.attendeeList | uppercase}}</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Agenda</td>
                <td>{{perticularMeeting.agenda | uppercase}}</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Start Time</td>
                <td>{{perticularMeeting.startTime | uppercase}}</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>End Time</td>
                <td>{{perticularMeeting.endTime | uppercase}}</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Room Name</td>
                <td>{{perticularMeeting.roomName | uppercase }}</td>
              </tr>
            </tbody>
          </table>
          <mat-card-actions>
            <button class="ml-3" mat-raised-button (click)="onRegisterButtonClicked()" color="primary">Register</button>
            <button mat-raised-button (click)="onBackButtonClicked()" color="accent">Back</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</section>